{% extends 'app/base.html' %}
{% block title %} Password Reset {% endblock title %} 
{% block banner %}
        <div class="container create-margin text-dark">
            <div class="row-3">
                <div class="col-sm-6 offset-sm-3">
                    <h3>Reset Password</h3>
                    <hr>
                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        {% for fm in form %}
                        <div class="form-group">
                            {{fm.label_tag}}{{fm}}
                            <small class="text-danger">{{fm.errors|striptags}}</small><br>
                        </div>
                        {% endfor %}
                        <input type="submit" value="submit" class="btn btn-primary mb-3 form-control w-50">

                    </form>
                </div>
            </div>
        </div>
{% endblock banner %}