{% extends 'app/base.html' %}
{% block title %} Password Reset Confirm {% endblock title %} 
{% block banner %}
        <div class="container create-margin text-dark">
            <div class="row-3">
                <div class="col-sm-6 offset-sm-3">
                    {% if form %}
                    <h3>Set New Password</h3>
                    <hr>
                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        {% for fm in form %}
                        <div class="form-group">
                            {{fm.label_tag}}{{fm}}
                            <small class="text-danger">{{fm.errors|striptags}}</small><br>
                        </div>
                        {% endfor %}
                       
                        <input type="submit" value="submit" class="btn btn-primary mb-3 form-control w-50">
                        {% else %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Alert!</strong> You have already updated your password!
                    
                          </div>
                          
                          
                        {% endif %}


                    </form>
                </div>
            </div>
        </div>
{% endblock banner %}