{% extends 'app/base.html' %}
{% block title %} Password Reset Done {% endblock title %} 
{% block banner %}
<div class="row-3 create-margin mb-3">
    <div class="col-sm-6 offset-sm-3">
<div class="alert alert-success alert-dismissible fade show create-margin" role="alert">
    <strong>Check your email!</strong> We have sent you a password update link. Please click the link in the email to reset your password. If you don't see the email, check your spam folder.
  </div>
</div>
</div>

{% endblock banner %}