{% extends 'app/base.html' %}
{% block title %} Subject | {{subject_data.subject_name}}{% endblock title %} 
{% block banner %}
<div class="container mt-5 p-5">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Code</th>   
        <th scope="col">Year</th>   
        <th scope="col">Exam Type</th>   
        <th scope="col">View</th>
        <th scope="col">Download</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
{% for info in information %}   

      <tr>
        <th scope="row">{{subject_data.subject_name}}</th>
        <th scope="row">{{subject_data.code}}</th>
        
        <td>{{info.year}}</td>
        <td>{{info.paper_type}}</td>
        <td> <a href="{% url 'prevyear:view' info.id %}" class="btn btn-warning btn-sm">View</a>
          </td>
          <td>
             <a href="{% url 'prevyear:download' info.id %}" class="btn btn-primary btn-sm">Download</a></td>
             </td>
             <td>
              <a href="{% url 'prevyear:delete' info.id %}" class="btn btn-danger btn-sm">Delete</a></td>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>

</div>

{% endblock %}